@font-face {
  font-family: sitelen kuwi !important;
  src: url(https://raw.githubusercontent.com/ClockWise3411/sitelen-leko-Kuwi/main/sitelen.Kuwi.otf) format("opentype");
}

* {
  font-family: Inter
}

.kuwi, .kuwi-run, span.text {
  font-family: sitelen kuwi;
  font-feature-settings: "liga" 1; /* enable ligatures */
  overflow-wrap: normal; /* stop auto-wrapping */
  letter-spacing: 0 !important;
  display: inline-block;
  word-break: keep-all;
  line-height: 1
}

.medium {
  font-size: 2rem
}

.big {
  font-size: 4rem
}

.test-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px
}

.test, .center {
  width: 100%;
  display: inline-block;
  padding: 30px
}

.center {
  text-align: center; 
}

input.test {
  border: solid white 1px;
  border-radius: 25px;
  font-size: 1.5rem
}

.test {
  padding: 15px 25px 
}

.red, .green, .blue, .pink, .gray {
  display: contents;
}

.red {
  color: red
}

.green {
  color: lime
}

.blue {
  color: cyan 
}

.pink {
  color: magenta
}

.gray {
  color: gray
}
