@font-face {
  font-family: sitelen kuwi;
  src: url(sitelen.Kuwi.otf) format("opentype");
}

.kuwi, span.text {
  font-family: sitelen kuwi;
  font-feature-settings: "liga" 1; /* enable ligatures */
  overflow-wrap: normal; /* stop auto-wrapping */
}

.medium {
  font-size: 2.5rem
}

.big {
  font-size: 4rem
}

.center {
  width: 100%;
  text-align: center; 
  display: inline-block;
  padding: 30px
}

.red {
  color: red
}

.yellow {
  color: yellow
}

.green {
  color: lime
}

.blue {
  color: blue
}

.pink {
  color: magenta
}
